fig-s03-kl-ft-IIM.pdf filter=lfs diff=lfs merge=lfs -text
fig-01e-2s-IM-IIM-SC-summary.pdf filter=lfs diff=lfs merge=lfs -text
fig-04e-wrongbranch-MSci-IM.pdf filter=lfs diff=lfs merge=lfs -text
fig-06a-IIM-trees.pdf filter=lfs diff=lfs merge=lfs -text
fig-07aab-ghost-MSci-AB-trees.pdf filter=lfs diff=lfs merge=lfs -text
fig-07c-ghost-MSci-AB.pdf filter=lfs diff=lfs merge=lfs -text
fig-08c-ghost-IM-MSci.pdf filter=lfs diff=lfs merge=lfs -text
fig-s01-kl-ft-IM.pdf filter=lfs diff=lfs merge=lfs -text
fig-04abcd-wrongbranch-MSci-IM-trees.pdf filter=lfs diff=lfs merge=lfs -text
fig-05-running-time.pdf filter=lfs diff=lfs merge=lfs -text
fig-05-tauX-tauT.pdf filter=lfs diff=lfs merge=lfs -text
fig-03-2s-IM-IIM-SC-MSci.pdf filter=lfs diff=lfs merge=lfs -text
fig-06c-IIM.pdf filter=lfs diff=lfs merge=lfs -text
fig-08ab-ghost-IM-MSci-trees.pdf filter=lfs diff=lfs merge=lfs -text
fig-s05-kl-ft-SC.pdf filter=lfs diff=lfs merge=lfs -text
fig-wrongbranch-ft.pdf filter=lfs diff=lfs merge=lfs -text
fig-01abcd-2s-trees.pdf filter=lfs diff=lfs merge=lfs -text
fig-02-kl-estimates-IM.pdf filter=lfs diff=lfs merge=lfs -text
fig-s02-kl-estimates-IIM.pdf filter=lfs diff=lfs merge=lfs -text
fig-s04-kl-estimates-SC.pdf filter=lfs diff=lfs merge=lfs -text
